body {
	padding: 0;
	margin: 0;
	background: #c4d2f5;
	background: linear-gradient(to right, #25c481, #25b7c4);
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
h1 {
	text-align: center;
	font-size: 22px;
}

#search-bar {
	display: flex;
	justify-content: flex-end;
	padding: 0 0 10px 0;
}
#search-box {
	height: 30px;
	width: 300px;
	padding-left: 10px;
	border: 1px solid #67d6aa;
}
#search-btn {
	width: 80px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #67d6aa;
	background-color: rgba(255,255,255,0.3);
}
#search-btn:hover {
	background-color: #ddd
}
main {
	width: 90%;
	max-width: 1100px;
	margin: auto;
	padding: 20px;
}

#data {
	width: 100%;
	border: 1px solid #67d6aa;
}
#data #list-header {
	font-size: 14px;
	display: flex;
    line-height: 1.618;
    color: #fff;
    background-color: rgba(255,255,255,0.3);
    padding: 10px 10px;
}

#data #list {
	padding: 0;
	margin: 0;
}

#data #list li{
	display: flex;
	font-size: 13px;
    font-weight: 400;
    line-height: 1.618;
    padding: 10px 10px;
    border-bottom: 1px solid #67d6aa52;
}
#data .search-not-found {
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	padding: 20px !important;
}
#data .name {
	width: 20%;
}
#data .id {
	width: 7%;
}
#data .nametype {
	width: 11%;
}
#data .recclass {
	width: 12%;
}
#data .mass {
	width: 10%;
}
#data .fall {
	width: 10%;
}
#data .year {
	width: 10%;
}
#data .latitude {
	width: 10%;
}
#data .longitude {
	width: 10%;
}
.pagination {
	margin-top: 20px;
	display: flex;
	width:100%; 
	justify-content: center;
}
.pagination a {
  color: #fff;
  padding: 8px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 16px;
  cursor: pointer;
}

.pagination a#active {
  background-color: rgba(255,255,255,0.3);
}

.pagination a.disable {
	color: #25c194 !important;
	pointer-events: none;
	cursor: default;
}

.pagination a:hover:not(.active):not(.disable) {
  background-color: #ddd;
}